@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: $font-family;
	margin: 0 auto;
	max-width: $max-width;
	padding: $separator-medium;
}

main {
	font-size: $font-size-regular;

	h1 {
		color: $anchor-color;
		font-size: $font-size-biggest;
		line-height: $line-height-biggest;
	}

	a {
		color: $anchor-color;
		text-decoration: $anchor-decoration;

		&:hover {
			color: $anchor-color-hover;
			text-decoration: $anchor-decoration-hover;
		}
	}

	p {
		line-height: $line-height-regular;
		padding: $separator-regular 0;
		text-align: $text-align;
	}

	ul {
		padding: $separator-medium $separator-big;

		li {
			list-style: $list-style;
		}
	}

	figure {
		background: $figure-background-color;
		border-radius: $figure-border-radius;
		padding: $separator-regular;

		figcaption {
			text-align: $figcaption-text-align;
		}
	}
}

@media (max-width: 550px) {
  main {
  	h1 {
  		font-size: $font-size-medium;
  	}
  }
}