// Layout
$max-width: 1000px;
$separator-regular: 10px;
$separator-medium: 15px;
$separator-big: 30px;

// Fonts
$font-family: 'Open Sans', sans-serif;
$font-size-default: 1em;
$font-size-regular: 1.25em;
$font-size-medium: 1.5em;
$font-size-big: 2em;
$font-size-biggest: 2.5em;

$line-height-regular: 1.5em;
$line-height-biggest: 2em;

$text-align: justify;

// Anchor
$anchor-color: rgb(11,129,133);
$anchor-color-hover: rgb(31,95,97);

$anchor-decoration: underline;
$anchor-decoration-hover: none;

// Lists
$list-style: disc;

// Images
$figure-border-radius: 10px;
$figure-background-color: rgba(11,129,133, 0.5);
$figcaption-text-align: center;