{{ define "main" }}
	<main class="main-container">
	{{ range sort .Site.RegularPages.ByDate.Reverse }}
		<article>
			<h1>
				<a href="{{.Permalink}}">{{ .Title }}</a>
			</h1>
			{{ .Content }}
		</article>
	{{ end }}
	</main>
{{ end }}