{{ define "title" }}
	{{ .Title }} | {{ .Site.Params.Short_Title }}
{{ end }}

{{ define "main" }}
	<main class="main-container">
		<article>
			<h1>{{ .Title }}</h1>
			{{ .Content }}
		</article>
	</main>
{{ end }}