<section class="video-container">
	<iframe
	  class="video"
	  src="https://www.youtube.com/embed/{{.Get "id" }}"
	  srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{.Get "id" }}?autoplay=1><img src=https://img.youtube.com/vi/{{.Get "id" }}/hqdefault.jpg alt='Video {{.Get "title" }}'><span>▶</span></a>"
	  frameborder="0"
	  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
	  allowfullscreen
	  title="{{.Get "title" }}"
	></iframe>
</section>